{% load static %}
<script type="text/javascript" src="{% static 'form_wubook/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'form_wubook/js/wubook_form.js' %}"></script>