.form-wubook-inline {
    width: 560px;
    margin-top: -5px;
}

.form-wubook-inline.language-es {
    width: 610px;
}

.breadcrumb li.form-wubook:before{
    content: '' !important;
    padding: 0;
}

.form-wubook-inline input[type=text]{
    width: 100px;
    /*float: left;*/
    margin-top: -6px;
    display: inline-block;
    margin-right: 15px;
}

.form-wubook-inline select{
    width: auto;
    display: inline-block;
    /*float: left;*/
}

.form-wubook-inline label{
    display: inline-block;
    margin-right: 10px;
}

.form-wubook-inline button[type=submit]{
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
}

.form-wubook-normal button[type=submit]{
    float: right;
    margin-top: 10px;
}

.form-wubook-normal label[for="id_dto"]{
    margin-top: 10px;
}